* {
 padding: 0;
 margin: 0;
}
body {
 display: flex;
 justify-content: center;
 background: #232323;
}
.box {
 padding: 20px;
 margin: 20px;
 margin-top: 150px;
 width: 300px;
 height: 350px;
 position: relative;
 display: flex;
 text-align: center;
 flex-flow: column;
 border-radius: 20px;
 background: #C2976A;
 box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.box h1 {
 margin: 10px;
 color: #fff;
 letter-spacing: 2px;
 font-size: 2rem;
 font-weight: 500;
 font-family: 'Fredoka One', fantasy;
 
}
.email, .password {
 padding: 10px;
 margin: 10px;
 border: none;
 border-radius: 10px;
 font-family: 'Fredoka One', fantasy;
 box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.email:hover {
 background: #BFFFB9;
}
.password:hover {
 background: #BFFFB9;
}
.submit {
 padding: 10px;
 margin: 10px;
 width: 280px;
 color: #fff;
 z-index: 2;
 font-size: 1rem;
 border: none;
 border-radius: 10px;
 background: #FFDCA2;
 position: absolute;
 bottom: 10px;
 font-family: 'Fredoka One', fantasy;
 box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.submit:hover {
 background: #FFC788;
}
.img {
 width: 300px;
 position: absolute;
 bottom: 35px;
}